@CHARSET "UTF-8";


/* PAGE VIEW ADDS */

#stormproject-extension-page-view-adds-durations {
	margin-top:10px;
}

#stormproject-extension-page-view-adds-costs {
  margin-top:10px;
  margin-bottom:10px;
}


/* Balances */

#stormproject-extension-display-balances-details {
  float:right;
  width: 50%
}

div.stormlinks {
  width:20% !important;	
}

#stormproject-extension-display-balances div.stormfields div.label, div.stormbody div.label, div.field div.field-label-inline-first,
#stormproject-extension-display-balances-details div.stormfields div.label, div.stormbody div.label, div.field div.field-label-inline-first 
{
  width: 300px !important;
}

#stormproject_extension-display-balances-duration {
	clear:both;
	padding-top:10px;
}

#stormproject_extension-display-balances-details-link {
	clear:both;
	padding-top:10px ;
	padding-left:40px;
}


.balance-ok {
  color: green;
  font-weight: bold;
}

.balance-warning {
  color: orange;
  font-weight: bold;
}

.balance-error {
  color: red;
  font-weight: bold;
}

div.stormfields div.label, div.stormbody div.label, div.field div.field-label-inline-first {
  width: 250px !important;
}

.last-update {
  font-size:8px;  
}