/* begin Box, Sheet */
.art-Sheet-tl
{
	clip: rect(auto 11px 11px auto);
}

.art-Sheet-tr
{
	clip: rect(auto auto 11px 11px);
}

.art-Sheet-bl
{
	clip: rect(11px 11px auto auto);
}

.art-Sheet-br
{
	clip: rect(11px auto auto 11px);
}

.art-Sheet-tc
{
	clip: rect(auto auto 11px auto);
}

.art-Sheet-bc
{
	clip: rect(11px auto auto auto);
}

.art-Sheet-cr
{
	clip: rect(auto auto auto 11px);
}

.art-Sheet-cl
{
	clip: rect(auto 11px auto auto);
}

.art-Sheet-body
{
	zoom: 1;
}
/* end Box, Sheet */

/* begin MenuItem */
.art-menu a .r
{
	clip: rect(auto auto auto 403px);
}
/* end MenuItem */

/* begin Box, Block */
.art-Block-tl
{
	clip: rect(auto 2px 2px auto);
}

.art-Block-tr
{
	clip: rect(auto auto 2px 2px);
}

.art-Block-bl
{
	clip: rect(2px 2px auto auto);
}

.art-Block-br
{
	clip: rect(2px auto auto 2px);
}

.art-Block-tc
{
	clip: rect(auto auto 2px auto);
}

.art-Block-bc
{
	clip: rect(2px auto auto auto);
}

.art-Block-cr
{
	clip: rect(auto auto auto 2px);
}

.art-Block-cl
{
	clip: rect(auto 2px auto auto);
}

.art-Block-body
{
	zoom: 1;
}
/* end Box, Block */

/* begin Box, BlockContent */
.art-BlockContent-tl
{
	clip: rect(auto 2px 2px auto);
}

.art-BlockContent-tr
{
	clip: rect(auto auto 2px 2px);
}

.art-BlockContent-bl
{
	clip: rect(2px 2px auto auto);
}

.art-BlockContent-br
{
	clip: rect(2px auto auto 2px);
}

.art-BlockContent-tc
{
	clip: rect(auto auto 2px auto);
}

.art-BlockContent-bc
{
	clip: rect(2px auto auto auto);
}

.art-BlockContent-cr
{
	clip: rect(auto auto auto 2px);
}

.art-BlockContent-cl
{
	clip: rect(auto 2px auto auto);
}

.art-BlockContent-body
{
	zoom: 1;
}
/* end Box, BlockContent */

/* begin Box, Post */
.art-Post-tl
{
	clip: rect(auto 3px 3px auto);
}

.art-Post-tr
{
	clip: rect(auto auto 3px 3px);
}

.art-Post-bl
{
	clip: rect(3px 3px auto auto);
}

.art-Post-br
{
	clip: rect(3px auto auto 3px);
}

.art-Post-tc
{
	clip: rect(auto auto 3px auto);
}

.art-Post-bc
{
	clip: rect(3px auto auto auto);
}

.art-Post-cr
{
	clip: rect(auto auto auto 3px);
}

.art-Post-cl
{
	clip: rect(auto 3px auto auto);
}

.art-Post-body
{
	zoom: 1;
}
/* end Box, Post */

/* begin PostContent */
.art-PostContent
{
	height:1%;
}
/* end PostContent */

/* begin Button */
.art-button-wrapper .r
{
	clip: rect(auto auto auto 407px);
}
/* end Button */

