/**
 * Views Slideshow Xtra CSS. 
 */

.views_slideshow_main {
  position: relative;
}

.views-slideshow-xtra-wrapper {
  z-index: 50;
  position: absolute;
}

.views-slideshow-xtra-row {
  display: none;
  min-height: 10px;
}

.views-slideshow-xtra-element {
  position: absolute;
}

