/* $Id: nice_menus_default.css,v 1.10 2010/10/09 16:58:04 add1sun Exp $ */
/*
  This is the default layout template for nice menus, and will provide
  a starting point for the look of your menus. To customize, it's
  recommended to create a custom CSS file using this file as a template,
  then configure the module to use your custom CSS file
  (this is done in the global settings tab of the theme administration.)

  See README.txt and the handbook page (http://drupal.org/node/185543)
  for more information on using the CSS.
*/

/******************************
 Global CSS for ALL menu types
******************************/

ul.nice-menu,
ul.nice-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  border-top: 0px solid #C2CD23;
  top: 7px;
  left: 10px;
}

ul.nice-menu li {
  border: 0px solid #8C944D;
  float: left; /* LTR */
  background-color: #8C944D;
}

#nice-menu-1 li a{
color: #272915;
}



#nice-menu-1 li {
    margin-left: 2px;
  margin-right: 2px;
  border-radius: 5px 5px 0px 0px; 
-moz-border-radius: 5px 5px 0px 0px; 
-webkit-border-radius: 5px 5px 0px 0px; 
}

ul.nice-menu li:hover {
/*   border: 1px solid #C2CD23; */

  float: left; /* LTR */
  background-color: #C2CD23;
}
ul.nice-menu li.active-trail  {
/*   border: 0px solid #C2CD23; */
/*   float: left; /* LTR */ */
  background-color: #C2CD23;
}
#nice-menu-1 li.active-trail  {
/*   border: 0px solid #C2CD23; */
/*   float: left; /* LTR */ */
  background-color: #C2CD23;
}
ul.nice-menu li.active-trail a , ul.nice-menu li.over a {
color: #8C944D;
}

ul.nice-menu a {
  padding: 0.3em 5px 0.3em 5px;
}

ul.nice-menu ul {
/*   top: 1.8em; */
  left: -1px; /* LTR */
  border: 0;
/*   border-top: 1px solid #C2CD23; */
  margin-right: 0; /* LTR */
}

ul.nice-menu ul li {
  width: 12.5em;
}

/******************************
 VERTICAL (left/right) menus
******************************/

/* This is the default width of all vertical menus. */
ul.nice-menu-right, ul.nice-menu-left,
ul.nice-menu-right li, ul.nice-menu-left li {
  width: 12.5em;
}

/* VERTICAL menus where submenus pop RIGHT (default). */
ul.nice-menu-right ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

ul.nice-menu-right ul ul {
  width: 12.5em;
  left: 12.5em;
  top: -1px;
}

ul.nice-menu-right li.menuparent,
ul.nice-menu-right li li.menuparent {
  background: #eee url(arrow-right.png) right center no-repeat;
}

ul.nice-menu-right li.menuparent:hover,
ul.nice-menu-right li li.menuparent:hover {
  background: #ccc url(arrow-right.png) right center no-repeat;
}

/* VERTICAL menus where submenus pop LEFT. */
ul.nice-menu-left li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left li ul li ul {
  width: 12.5em;
  left: -12.65em;
  top: -1px;
}

ul.nice-menu-left li.menuparent,
ul.nice-menu-left li li.menuparent {
  background: #eee url(arrow-left.png) left center no-repeat;
}

ul.nice-menu-left li.menuparent:hover,
ul.nice-menu-left li li.menuparent:hover {
  background: #ccc url(arrow-left.png) left center no-repeat;
}

ul.nice-menu-left a, ul.nice-menu-left ul a {
  padding-left: 14px;
}

/******************************
 HORIZONTAL (down) menus
******************************/

ul.nice-menu-down {
  float: left; /* LTR */
  border: 0;
  margin-top: .5em;
}

ul.nice-menu-down li {
/*   border-top: 1px solid #C2CD23; */
}

ul.nice-menu-down li li {
  border-top: 0;
}

ul.nice-menu-down ul {
  left: 0; /* LTR */
}

ul.nice-menu-down ul li {
  clear: both;
}

ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}

ul.nice-menu-down .menuparent a {
/*   padding-right: 15px; /* LTR */ 
}

ul.nice-menu-down li.menuparent {
  background: #8C944D; /* LTR */
    border-bottom: solid 4px #ffffff;
}

ul.nice-menu-down li.menuparent ul {
/*   background: #8C944D; /* LTR */ */
  
}

#nice-menu-1 li.menuparent ul li{
  margin-left: 0px;
  margin-right: 0px;
/*   border-top: 1px solid #C2CD23;   */
margin-top: 0px;
margin-bottom: 0px;
top: 23px;
border-radius: 0px 0px 0px 0px; 
-moz-border-radius: 0px 0px 0px 0px; 
-webkit-border-radius: 0px 0px 0px 0px; 
}

#nice-menu-1 li.menuparent ul li.active-trail{
  margin-left: 0px;
  margin-right: 0px;
/*   border-top: 1px solid #C2CD23;   */
margin-top: 0px;
margin-bottom: 0px;
float:none;
top: 23px;
border-radius: 0px 0px 0px 0px; 
-moz-border-radius: 0px 0px 0px 0px; 
-webkit-border-radius: 0px 0px 0px 0px; 
border: 0px;
}


#nice-menu-1 li.menuparent ul li.first{
border-radius: 0px 5px 0px 0px; 
-moz-border-radius: 0px 5px 0px 0px; 
-webkit-border-radius: 0px 5px 0px 0px; 
}
#nice-menu-1 li.menuparent ul li.last{
border-radius: 0px 0px 5px 5px; 
-moz-border-radius: 0px 0px 5px 5px; 
-webkit-border-radius: 0px 0px 5px 5px; 
}

ul.nice-menu-down li.menuparent:hover {
  background: #C2CD23; /* LTR */
  border-bottom: solid 4px #C2CD23;
}

ul.nice-menu-down li li.menuparent {
  background: #eee; /* LTR */
}

ul.nice-menu-down li li.menuparent:hover {
  background: #ccc url(arrow-right.png) right center no-repeat; /* LTR */
}

/******************************
 Garland-specific CSS
******************************/

/**
 * Global CSS for ALL menu types
 */
ul.nice-menu li {
  margin: 0;
  padding-left: 0; /* LTR */
  background-image: none;
}

#header-region ul.nice-menu li {
  margin: 0;
  /* Padding rules are needed to deal with Garland's header line-height. */
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  background: #eee;
}

#header-region ul.nice-menu ul {
  top: 1.8em;
  left: -1px; /* LTR */
  border: 0;
  border-top: 1px solid #ccc;
  margin-right: 0; /* LTR */
}

#header-region ul.nice-menu ul {
  top: 1.7em;
}

/**
 * HORIZONTAL (down) menus
 */
#header-region ul.nice-menu-down li ul li ul {
  left: 12.5em; /* LTR */
  top: -1px;
}

#header-region ul.nice-menu-down li.menuparent {
  background: #eee url(arrow-down.png) right center no-repeat; /* LTR */
}

#header-region ul.nice-menu-down li.menuparent:hover {
  background: #ccc url(arrow-down.png) right center no-repeat; /* LTR */
}

#header-region ul.nice-menu-down li li.menuparent {
  background: #eee url(arrow-right.png) right center no-repeat; /* LTR */
}

#header-region ul.nice-menu-down li li.menuparent:hover {
  background: #ccc url(arrow-right.png) right center no-repeat; /* LTR */
}
