
.vud-widget-upanddown {
  margin: 5px 10px;
  position: relative;
  float: right;
}

.vud-widget-upanddown a.vud-link-up span,
.vud-widget-upanddown a.vud-link-down span {
  text-decoration: none;
  margin-right: 7px;
}

.vud-widget-upanddown .up-score .up-current-score,
.vud-widget-upanddown .down-score .down-current-score {
  display: block;
  font-size: 16px;
  margin-left: 25px;
  text-align: right;
  padding-top: 2px;
}

.vud-widget-upanddown .up-score {
  color: #333;
}
.vud-widget-upanddown .down-score {
  color: #333;
}

.vud-widget-upanddown .up-active,
.vud-widget-upanddown .down-active {
  cursor: default;
}
.vud-widget-upanddown .up-inactive,
.vud-widget-upanddown .down-inactive,
.vud-widget-upanddown .up-active,
.vud-widget-upanddown .down-active {
  float: left;
  display: block;
  width: 20px;
  height: 22px;
  font-weight: bold;
  text-align: center;
  background: url(arrows.png) 0 0 no-repeat;
}

.vud-widget-upanddown .up-active {
  background-position: 0 -22px;
}
.vud-widget-upanddown .down-active {
  background-position: -20px -22px;
}
.vud-widget-upanddown .up-inactive {
  background-position: 0 -44px;
}
.vud-widget-upanddown .down-inactive {
  background-position: -20px -44px;
}
.vud-widget-upanddown .up-inactive:hover {
  background-position: 0 -66px;
}
.vud-widget-upanddown .down-inactive:hover {
  background-position: -20px -66px;
}

.vud-widget-upanddown a.ctools-ajaxing,
.vud-widget-upanddown a.ctools-ajaxing:hover {
  padding-right: 0 !important;
  background-image: url(status-active.gif);
  background-position: center;
}

/**
 * Hide elements visually, but keep them available for screen-readers.
 *
 * Used for information required for screen-reader users to understand and use
 * the site where visual display is undesirable. Information provided in this
 * manner should be kept concise, to avoid unnecessary burden on the user. Must
 * not be used for focusable elements (such as links and form elements) as this
 * causes issues for keyboard only or voice recognition users. "!important" is
 * used to prevent unintentional overrides.
 */
.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}
