@CHARSET "UTF-8";

#storm-contrib-common-select-date-form {
  margin-top:10px;
}

.stormperson-utilisation {
  margin-top:10px;
}

.stormperson-utilisation-department-utilisation-persons {
  margin-top:10px;
  margin-bottom:10px;
}

.stormperson-utilisation-department-utilisation-person {
	margin-top:5px;
  border-bottom:1px solid;
}

.stormperson-utilisation-department-utilisation-persons-table {
	width:100%;
	border:1px solid;
}

.stormperson-utilisation-department-utilisation-persons-table td { 
	border: 1px solid; 
}

.stormperson-utilisation-department-utilisation-persons-table-spacer {
  background-color:#CCCCCC;
}

.stormperson-utilisation-department-utilisation-persons-table-person {
  background-color:#fdf0bd;
}

.stormperson-utilisation-department-utilisation-persons-table-td-selected {
  background-color:#CCCCCC;
}

.stormperson-utilisation-department-utilisation-persons-table-person .online-icon {
  float: left;
  padding-right: 10px;
}


.stormperson-utilisation-department-utilisation-persons-table-td {
	width:12% !important;
	overflow:hiddden;
}

.stormperson-utilisation-department-utilisation-persons-table-td .stormperson-utilisation-chart .storm_contrib_progress_bar {
  margin-left: 0;
}

.current-stormperson-utilisation-department-utilisation-date {
  color:#ff8533;
}

.stormperson-utilisation-department-utilisation-person-ticket-switcher {
  cursor: pointer;
}

.weekend, .national_holiday, .full_day_holiday {
  color:#DDDDDD;
}

table.utilisation-list-days td {
    border:  1px solid #CCCCCC;
}

table.utilisation-list-days td.utilisation-list-item-date {
    background-color: #fdf0bd;
    width: 150px;
    font-weight: bold;
}

table.utilisation-list-days td .stormperson-utilisation-utilisation-percentage, table.utilisation-list-days td .stormperson-utilisation-timetracking {
    float: right;
    height: 20px;
    width: 200px;
}

table.utilisation-list-days td p {
    margin: 0;
}

.storm-visible .storm-utilisation-popup {
    display: none;
}

.storm-visible:hover > .storm-utilisation-popup, .storm-visible .storm-utilisation-popup:hover {
   display: block;
   position: absolute;
   top: 5px;
   left: 40px;
   width: 300px;
   padding: 5px;
   margin: 10px;
   z-index: 100;
   background-color: #FDF0BD;
   border: 1px solid #CCCCCC;
   -moz-border-radius: 10px;
   border-radius: 10px;
}

.utilisation-overloaded {
   color: #ff2222;
   font-weight: bold;
}