/* $Id*/

/******************************************/
/*  TopNotchThemes CSS Stylesheet         */
/******************************************/



/* Reset browser defaults
-------------------------------------------------------------- */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote,
a, abbr, acronym, address, big, cite, dl, dd,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, ol, ul, li, menu,
fieldset, form, label, legend, input, textarea,
table, caption, tbody, tfoot, thead, tr, th, td {
  border: 0;
  font-family: inherit;
  font-size: 100%;
  font-style: inherit;
  font-weight: inherit;
  margin: 0;
  outline: 0;
  padding: 0;
}


/* HTML & Body
-------------------------------------------------------------- */

html {
  background-color: #272915;
}

body {
  background: #272915;
  color: #F0F0F0;
 font-family: Georgia, Palatino Linotype , Book Antiqua , Times New Roman , serif;   /* web safe fonts */
  font-size: 83%;
  font-weight: normal;
  line-height: 1.5em;
}

/* Headings
-------------------------------------------------------------- */

h1,h2,h3,h4 {
  font-weight: normal;
}

h1 {
  color: #8c944D;
  font-size: 1.8em;
  font-weight: bold;
  line-height: 1.2142em;
}

h2 {
  font-size: 1.4285em;
  line-height: 1.2em;
}

h3 {
  font-size: 1.1428em;
  line-height: 1.25;
}

h4 {
  font-size: 1em;
  height: 1.25em;
  line-height: 1.25;
  margin-bottom: 1.25em;
}

h5 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 1.5em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}


/* Text elements
-------------------------------------------------------------- */

p {
  font-size: 1em;
  margin: 1em 0;
}

a,
a:link {
  color: #8C944D;
  text-decoration: none;
}

a:active,
a:hover,
a:focus {
  color: #C2CD23;
  text-decoration: underline;
}

blockquote {
  color: #999;
  font-style: italic;
  margin: 1.5em;
}

strong {
  font-weight: bold;
}

em,dfn {
  font-style: italic;
}

dfn {
  font-weight: bold;
}

sup,sub {
  line-height: 0;
}

abbr,acronym {
  border-bottom: 1px dotted #666;
}

address {
  font-style: italic;
  margin: 0 0 1.5em;
}

del {
  color: #666;
}

pre,code {
  margin: 1.5em 0;
  white-space: pre;
}

pre,code,tt {
  font: 1em 'andale mono', 'lucida console', monospace;
  line-height: 1.5;
}


/* Lists
-------------------------------------------------------------- */

ul,
ul.menu {
  list-style-position: inside;
  list-style-type: disc;
}

ol {
  list-style-position: inside;
  list-style-type: decimal;
}

ul.links li {
  padding: 0;
}

/* remove list styling on taxonomy */
div.terms ul li {
  list-style-type: none;
  margin: 0;
}

li a.active {
  color: #EBDCC7;
}

dl {
  margin: 0 0 22px 0;
}

dl dt {
  font-weight: bold;
}

dd {
  margin: 0 0 10px 22px;
}

/* adds indentation for child list items within nodes */
#content-wrapper .node .content ol li,
#content-wrapper .node .content ul li {
  margin: 0 0 0 6px;
}

#content-wrapper .node .content ol li,
#content-wrapper .node .content ul li {
  padding: 0 0 0 12px;
}


/* Helper classes
-------------------------------------------------------------- */

.hide {
  display: none;
  visibility: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clear {
  clear: both;
}

.clearfix:after {                                 /* add .clearfix class to clear floats after an element */
  clear: both;                                    /* (IE version is in ie6-fixes.css) */
  content: "."; 
  display: block; 
  font-size: 0;
  height: 0; 
  visibility: hidden;
}

.first {
  margin-left: 0;
  padding-left: 0;
}

.last {
  margin-right: 0;
  padding-right: 0;
}

.top {
  margin-top: 0;
  padding-top: 0;
}

.bottom {
  margin-bottom: 0;
  padding-bottom: 0;
}


/* Misc.
-------------------------------------------------------------- */

hr {
  height: 1px;
  border: 1px solid gray;
}

div.content a.feed-icon img,
div.content th img {
  border: 0;             /* remove image borders where we don't want them */
}

/* format initial startup page list nicely */
#first-time p {
  clear: both;
}

#first-time ol {
  list-style-position: outside;
}

/* notice at bottom of page */
#legal-notice {
  background: #000;
  color: #777;
  font-size: 0.85em;
  padding: 10px 0;
  text-align: center;
}

#legal-notice a {
  color: #996633;
}

/* Layout
-------------------------------------------------------------- */

#page {
  margin: 0 auto;                                 /* center page */
  position: relative;
  width: 960px;
}


/********************/
/* ALL PAGE REGIONS */
/********************/


/* Banner region
-------------------------------------------------------------- */

#banner {
  padding: 8px;
  text-align: center;
}

#banner p,
#banner .block-wrapper {
  margin: 0;
}


/* Header regions
-------------------------------------------------------------- */

#header-wrapper {
  background: #fff url('images/header.png') no-repeat left top;
  height: 115px;
  margin-bottom: 25px;
  overflow: hidden;
  padding: 10px 15px 10px 15px;
  position: relative;
}

#header-first {
  float: left;
  margin: 0 15px 0 0;
}

#header-first #logo {                            /* logo postion.  default image replaced if you upload your own */
  display: inline;
  margin: 0 14px 10px 0;
}

#header-first h1 {
/*   border-right: 1px solid #DDDDDD; */
  color: #525252;
  display: inline;
  font-family: Georgia, Palatino Linotype , Book Antiqua , Times New Roman , serif;
  font-size: 2.1em;
  font-weight: normal;
  letter-spacing: 3px;
  padding-right: 15px;
  position: relative;
  text-transform: uppercase;
  top: -40px;
  white-space: nowrap;
}

#header-first h1 a {                /* site name link */
  color: #525252;
  text-decoration: none;
}

#header-middle {
  color: #555555;
  display: inline;
  padding: 0;
  position: relative;
float: right;
}

#slogan {                          /* site slogan */
  display: inline;
  font-weight: bold;
  margin-right: 15px;
  position: relative;
  top: 10px;
}

#header-wrapper #search-box {
  margin: 4px 14px;
  position: absolute;
  right: 0;
  top: 28px;
  white-space: nowrap;
}

#header-wrapper .search_submit {
  background: transparent url('images/search-arrow.png') no-repeat 4px 1px;
  cursor: pointer;
  padding: 0 6px;
  text-indent: -999em;
}

#header-wrapper #search-box #search input.form-text {
  border: 1px solid #D5D5D5;
  background: #fff;
  color: #292929;
  width: 11em;
}


/* Preface regions
-------------------------------------------------------------- */

#preface-wrapper {
  background: transparent url('images/cropped/seascape.jpg') no-repeat left top;
  height: 420px;
  margin: -33px 0 20px;
  overflow: hidden;
  position: relative;
  width: 960px;
  -moz-border-radius: 0 0 10px 10px;
  -webkit-border-bottom-right-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
}

#preface-sidebar {
  background: transparent url('images/preface-sidebar-bg.png') no-repeat center;
  float: left;
  height: 380px;
  margin: 0 0 0 20px;
  padding: 20px;
  width: 190px;
}

#mission {
  bottom: 0;
  color: #fff;
  font-size: 2.0312em;
  line-height: 1.1153em;
  padding: 10px;
  position: absolute;
  right: 0;
  text-align: right;
  width: 680px;
}


/* Main area wrapper
 * sidebars + content
-------------------------------------------------------------- */

#main-wrapper {
  margin-bottom: 30px;
}


/* Sidebar regions
-------------------------------------------------------------- */

#sidebar-first {
  float: left;
}

#sidebar-last {
  float: right;
}


/* Content regions
-------------------------------------------------------------- */

#content-wrapper {
  float: left;
}

#content-top {
  background: transparent url('images/cropped/seascape-header.jpg') no-repeat left top;
  padding: 0;
  overflow: hidden;
}

#content-top a {
  color: #000;
}

#content {
  margin: 0;               /* default spacing between content regions */
  margin: 0;
}

#content-inner {
}

/* content bottom */
#content-bottom {
  background: #444;
  margin-top: 30px;
}

#node-bottom {
  margin: 30px 0 0 0;
}


/* Footer region
-------------------------------------------------------------- */

#footer {
  background: #000;
  color: #999999;
  display: block;
}

#footer-wrapper {
  overflow: hidden;
  text-align: center;
  width: 100%;
}

#footer a {
  color: #DB8A3B;
  text-decoration: none;
}

#footer a:hover,
#footer a:active {
  color: #EBDCC7;
}

#footer a:link,
#footer a:visited {
}  

#footer-message,
#footer-region {
  float: left;
  margin: 10px 0;
  width: 100%;
}

#footer ul {
  display: inline;
  margin: 0;
  padding: 0 0 0 9px;
}

#footer ul li {
  background: transparent none repeat;
  border-left: 1px solid #CCC;
  display: inline;
  padding: 0 5px 0 9px;
}

#footer ul li.first {
  border: none;
}



/****************************************/
/*          COLUMN LAYOUTS              */
/*                                      */
/* Classes for different column layouts */
/* that are applied to the <body> tag.  */
/****************************************/


/* Single column layout
 * main content
-------------------------------------------------------------- */

body.layout-main #content-wrapper {
  margin: 0;
  width: 960px;
}


/* Two column layout
 * sidebar | main content
-------------------------------------------------------------- */

body.layout-first-main #sidebar-first {
  margin: 0 20px 0 0;
  width: 230px;
}

body.layout-first-main #content-wrapper {
  margin: 0;
  width: 710px;
}

body.layout-first-main #content {
  border-left: 1px solid #444444;
  padding: 0 0 0px 30px;
  
}

body.front.layout-first-main #content {
  border-left: none;
  padding: 0;
}


/* Two colum layout
 * main content | sidebar
-------------------------------------------------------------- */

body.layout-main-last #content-wrapper {
  margin: 0 20px 0 0;
  width: 690px;
}

body.layout-main-last #sidebar-last {
  margin: 10px 0 0;
  width: 220px;
}

body.layout-main-last #content {
  border-left: none;
  border-right: 1px solid #444;
  padding: 30px 60px 30px 0;
}

body.front.layout-main-last #content {
  border-left: none;
  padding: 0 60px 30px 0;
}

/* Three column layout
 * sidebar | main content | sidebar
-------------------------------------------------------------- */

body.layout-first-main-last #sidebar-first {
  margin: 0 20px 0 0;
  width: 230px;
}

body.layout-first-main-last #content-wrapper {
  margin: 0 20px 0 0;
  position: relative;
  width: 460px;
  z-index: 1;                    /* keep content visible on admin pages */
}

body.layout-first-main-last #sidebar-last {
  margin: 10px 0 0;
  width: 230px;
}

body.layout-first-main-last #content {
  border-left: 1px solid #444;
  border-right: 1px solid #444;
  padding: 30px;
}

body.front.layout-first-main-last #content {
  border-left: none;
  padding: 0 20px 0 0;
}


/* Postscript regions
-------------------------------------------------------------- */

#postscripts {
  background: #000;
}

#postscript-wrapper {
  color: #999999;
  margin: 0 auto;
  padding: 30px;
  width: 960px;
}

#postscript-wrapper #postscript-first {
  margin-left: 0;
}

#postscript-wrapper #postscript-middle {
}

#postscript-wrapper #postscript-last {
  margin-right: 0;
}

body.postscript-middle #postscript-wrapper #postscript-middle {
  text-align: center;
}

body.postscript-last #postscript-wrapper #postscript-last {
  text-align: right;
}


/* Postscript regions
 * first | middle | last
-------------------------------------------------------------- */

#postscript-wrapper.postscripts-1 .column {
  float: left;
  width: 100%;
}

#postscript-wrapper.postscripts-2 .column {
  float: left;
  margin-right: 36px;
  width: 46%;
}

#postscript-wrapper.postscripts-3 .column {
  float: left;
  margin-right: 20px;
  width: 286px;
}

/* Nodes
-------------------------------------------------------------- */

div.node {
  clear: both;
  margin: 2em 0 2em;
  overflow: hidden;
}

body.full-node div.node {
  margin-top: 0;
}

div.node h2.title {
  margin-bottom: 0;
}

div.node h2.title a {
  text-decoration: none;
}

div.node h2.title a:hover {
  color: #F2F2F2;
}

.meta,
.terms {                                      /* styling for byline and tags */
  font-size: 0.8571em;
}

.vocab-name {
  font-weight: bold;
}

.terms ul.taxonomy li {
  margin: 2px;
}

.terms ul.taxonomy ul.vocab-list,
.terms ul.taxonomy li.vocab-term {
  display: inline;
}

.submitted a:link {
  font-weight: bold;
}

div.node div.picture {
  float: right;
  margin: 0 0 0.8em 0.8em;
}

.tips {
  margin-left: 3em;
}

/* node links */
div.node ul.links li,
div.node ul.inline li,
div.node .read-more a,
div.node .more-link a,
div.node .links a {
  color: #f0f0f0;
  font-weight: bold;
  padding-right: 14px;
  text-decoration: none;
}

div.node ul.links li,
div.node ul.inline li {
  color: #c6c6c6;
  font-weight: normal;
}

div.node ul.links li a,
div.node ul.inline li a {
  white-space: nowrap;
}

div.node .read-more a:hover,
div.node .more-link a:hover,
div.node .links a:hover {
  color: #DFB77C;
  text-decoration: underline;
}

div.node ul.links li.comment_forbidden a {
padding-right: 2px;
}

div.node .links {
  background: #444444;
  clear: both;
  line-height: 130%;
  margin: 10px 0;
}


/* Blocks
-------------------------------------------------------------- */

div.block-wrapper {                    /* spacing between blocks */
  margin: 0 0 20px;
}

#footer-region .block-wrapper {
  margin: 0;
}

div.block h2.title {
  background: transparent url('images/arrow.png') no-repeat 0 2px;
  font-family: Arial Narrow, Helvetica, Arial, sans-serif;
  font-size: 1.1428em;
  font-weight: bold;
  margin: 0 0 10px;
  padding: 0 0 0 14px;
  text-transform: uppercase;
}

div.block ul {
  padding: 0;
}

div.block ul li {
 font-family: Georgia, Palatino Linotype , Book Antiqua , Times New Roman , serif; 
  font-weight: normal;
  line-height: 1.4285em;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  margin: 0.1em 0 0.2em 0;
  text-decoration: none;
}

div.block ul li a {
  color: #8C944D;
  text-decoration: none;
}

div.block ul li a:hover {
  color: #C2CD23;
}

/* for region labels on block admin page */
div.block-region {
  background-color: #FFFF66;
  color: #000;
  font-family: Tahoma,Verdana,Arial,Helvetica,sans-serif;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 4px;
  margin-top: 4px;
  padding: 3px;
  text-align: center;
}

/* front-page sidebar-first blocks */
body.front #sidebar-first .block h2.title {
  background: transparent;
  font-family: Helvetica,Arial,Verdana,"Bitstream Vera Sans",sans-serif;
  font-size: 1.4285em;
  font-weight: normal;
  padding: 0;
  text-transform: none;
}

body.front #sidebar-first .block h2.title .first-word {
  font-weight: bold;
}

#sidebar-last .block h2.title {
  background: none;
  font-size: 0.9375em;
  font-weight: bold;
  padding: 0;
  text-transform: uppercase;
}

body.not-front #sidebar-first .block h2.title .first-word,
#preface-sidebar .block h2.title .first-word {
  color: #8C944D;
}

#footer .block h2.title {
  background: none;
  padding: 0;
}

/* block not-front */
body.not-front .block-wrapper {
  margin-bottom: 40px;
}

/* block not-front content-top */
body.not-front #content-top div.block-wrapper {
  background: transparent url('images/content-top-bg.png') repeat;
  color: #000;
  margin: 76px 0 0;
  padding: 10px;
}

body.not-front #content-top div.block h2.title {
  background: none;
  font-size: 1.4285em;
  padding: 0 0 4px;
  text-transform: none;
}

/* postscript blocks */
#postscript-wrapper div.block h2.title {
  background: transparent;
  font-family: Helvetica,Arial,Verdana,"Bitstream Vera Sans",sans-serif;
  font-weight: bold;
  margin-bottom: 14px;
  padding: 0;
  text-transform: none;
}

#postscript-wrapper div.block h2.title {
  background: transparent;
  padding: 0;
}

/* USER LOGIN */
/* remove list styling on login block */
#user-login-form div.item-list ul li {
  list-style-type: none;
  margin: 0;
}

/* adjust openid link */
/* note: display set in openid.js */
html.js #user-login-form li.openid-processed, 
html.js #user-login li.openid-processed {
  list-style-type: none;
  margin-top: 15px;
  padding: 5px 0 0 18px;
}

#user-login-form li.openid-link, 
#user-login li.openid-link {
  background-position: 0 0.5em;
  padding-left: 18px;
}


/* HEADER - USER LOGIN */
/* horizontal style login block*/
#header-top .block-wrapper {
  margin: 0;
}

#header-top #block-user-0 {
  padding-top: 10px;
}

#header-top #block-user-0 h2.title {
  display: none;
}

#header-top #block-user-0 #edit-name-wrapper,
#header-top #block-user-0 #edit-pass-wrapper,
#header-top #block-user-0 #user-login-form span.button-wrapper,
#header-top #block-user-0 .item-list {
  float: left;
  margin: 5px 10px 0 0;
}

#header-top #block-user-0 #user-login-form label {
  color: #eee;
  font-weight: bold;
  margin-left: 2px;
  position: static;
}

html.js #header-top #block-user-0 #user-login-form label {
  font-size: 85%;
  font-weight: normal;
  margin-left: 5px;
  position: absolute;
}

#header-top #block-user-0 #user-login-form input.form-text {
  border: 1px solid #ccc;
  color: #eee;
  padding: 1px;
  width: 115px;
}

#header-top #block-user-0 #user-login-form span.button-wrapper,
#header-top #block-user-0 .item-list {
  font-size: 80%;
  margin-top: 20px;
}

html.js #header-top #block-user-0 #user-login-form span.button-wrapper,
html.js #header-top #block-user-0 .item-list {
  margin-top: 0;
}

#header-top #block-user-0 .item-list li {
  font-size: 90%;
}

/* OpenID */
html.js #header-top #block-user-0 #user-login-form li.openid-processed, 
html.js #header-top #block-user-0 #user-login li.openid-processed {
  margin-top: 0;
}

#header-top #block-user-0 #edit-openid-identifier-wrapper {
  float: left;
  margin: 5px 10px 0 0;
  padding-top: 0;
}

#header-top #block-user-0 .item-list li.user-link {
  padding-left: 0;
}

#header-top #block-user-0 #user-login-form input#edit-openid-identifier.form-text {
  padding-left: 20px;
}

#header-top #block-user-0 #edit-openid-identifier-wrapper .description {
  font-size: 75%;
}


/* Block menus
-------------------------------------------------------------- */

div.block ul.menu li a {
  font-size: 1.1em;
}

div.block ul.menu li a:link,
div.block ul.menu li a:visited {
}

div.block ul.menu li a:hover,
div.block ul.menu li a:active {
  color: 
}

div.block ul.menu li.expanded {
  background: transparent url('images/arrow-white.png') no-repeat 0 7px;
  padding-left: 10px;
}

div.block ul.menu li.expanded a,
div.block ul.menu li ul.menu li.leaf a {
  color: #fff;
}

div.block ul.menu li a:hover,
div.block ul.menu li.expanded a:hover,
div.block ul.menu li ul.menu li.leaf a:hover,
div.block ul.menu li ul.menu li.leaf a.active {
  color: #C2CD23;
  text-decoration: underline;
}

div.block ul.menu li ul.menu {
  font-size: 0.9em;
  line-height: 1.666em;
  margin: 0 0 10px 16px;
}

div.block ul.menu li a.active {
  font-weight: bold;
}

div.block ul.menu li ul.menu li ul.menu li {

}


/* Rounded corners for blocks (optional)
-------------------------------------------------------------- */

div.rounded-block {
  margin-top: -1px;                               /* use negative margin to overlap stacked blocks */
}

p.rounded-topspace,
p.rounded-bottomspace {
  margin: 0;                               /* removes unwanted space */
}

div.rounded-block-top-left, 
div.rounded-block-top-right, 
div.rounded-block-bottom-left, 
div.rounded-block-bottom-right { 
  background: transparent url('images/rounded-blocks.png') no-repeat;         /* combined rounded corner image */
  font-size: 2px;                                 /* IE div correction */
  height: 11px;                                   /* height of an image corner */
}

div.rounded-block-top-left, 
div.rounded-block-bottom-left { 
  margin-right: 11px;                             /* width of an image corner */
}

div.rounded-block-top-right {                        /* anchor image in top right */
  background-position: 100% 0;
}

div.rounded-block-top-right,
div.rounded-block-bottom-right { 
  margin-left: 11px;                              /* width of an image corner */
  margin-top: -11px;                              /* height of an image corner */
}

div.rounded-block-bottom-left  { 
  background-position: 0 -23px;                   /* negative height of an image corner */
}

div.rounded-block-bottom-right { 
  background-position: 100% -23px;                /* negative height of an image corner */
}

div.rounded-inside {
  background:  url('images/block-gradient.png') repeat-x bottom;
  border-bottom: 0;
  border-left: 1px solid #4B4B4B;
  border-right: 1px solid #4B4B4B;
  border-top: 0;
  overflow: hidden;
  padding: 0 10px;
}


/* Rounded corners for node links & content-bottom
-------------------------------------------------------------- */

.inner {
  padding: 0 10px;
}

.corner {
  background: transparent url('images/rounded-corners.png') no-repeat 0;
  display: block;
  height: 6px;
  width: 6px;
}

.top-left {
  background-position: left top;
}

.top-right {
  background-position: right top;
  float: right;
}

.bottom-left {
  background-position: left bottom;
}

.bottom-right {
  background-position: right bottom;
  float: right;
}


/* Primary menu
-------------------------------------------------------------- */

#primary-menu {                                   /* menu layout */
  display: block;
  padding: 20px 0;
  text-align: right;
}

#primary-menu ul.links li {
  font-size: 1.1428em;
  padding: 7px 5px;
  text-decoration: none;
  text-transform: lowercase;
}

#primary-menu ul.links li a {                       /* text styling for the top (primary) menu */
  padding: 7px 10px 7px 5px;
  text-decoration: none;
}

#primary-menu ul.links li a {
  color: #8C944D;
}

#primary-menu ul.links li:hover,
#primary-menu ul.links li:active,
#primary-menu ul.links li.active-trail {
  background: transparent url('images/pri-hover-left.png') no-repeat left;
}

#primary-menu ul.links li a:hover,
#primary-menu ul.links li:hover a,
#primary-menu ul.links li a:active,
#primary-menu ul.links li.active-trail a {
  background: transparent url('images/pri-hover-right.png') no-repeat right;
  color: #fff;
}

#primary-menu ul.links li.first {                 /* .first and .last classes applied to first and last menu & list items */
}
  
#primary-menu ul.links li.last {                  /* .first and .last classes applied to first and last menu & list items */
}
  
#primary-menu ul.links li a:link,
#primary-menu ul.links li a:visited {
}
  

/* Secondary menu
-------------------------------------------------------------- */

#secondary-menu {
  margin-bottom: 20px;
  padding: 0;
}

#secondary-menu ul li {
  display: list-item;
  font-family: Myriad Pro, Myriad Web Pro Regular, Lucida Grande, Geneva, Trebuchet MS, sans-serif;
  font-weight: normal;
  line-height: 1.4285em;
  list-style: none;
  list-style-image: none;
  list-style-type: none;
  margin-left: 0;
  padding: 0.2em 0.5em 0 0;
  text-decoration: none;
}

#secondary-menu ul li a {
  color: #A3A3A3;
  text-decoration: none;
}

#secondary-menu ul li a.active {
  color: #FFF;
}

#secondary-menu ul li a:hover {
  color: #DFB77C;
}


/* Breadcrumbs
-------------------------------------------------------------- */

#breadcrumb {
}  


/* Drupal messages
-------------------------------------------------------------- */

.node-unpublished {
  background-color: #4F4444;
}

.preview,
.preview .node {
  background-color: #36322E;
  border: 1px solid #47433E;
  padding: 10px;
}

div.messages {
  background: #EEE6A7;
  border: 6px solid #EED300;
  color: #745500;
  font-weight: 600;
  font-size: 1em;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 14px;
}

div.messages a {
  color: #1767B1;
}

div.messages ul {
  list-style-position: inside;
}

div.messages em {
  color: #555555;
}

div.error {
  background-color: #FFF2F2;
  border-color: #CC0000;
  color: #B20000;
}

div.messages.status,
.help {
  background-color: #EAF8E4;
  border: 6px solid #8DC478;
  color: #3E642F;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 20px;
  overflow: hidden;
  padding: 10px 16px;
}

.help {
  background-color: #E4EEF8;
  border: 6px solid #57718A;
  color: #292929;
}

.help a,
.help .more-help-link a {
  color: #1767B1;
}

#content-wrapper ul.tips  li {
  background: transparent;
  font-size: 1em;
  list-style: disc;
  list-style-image: none;
  list-style-position: inside;
}

#closure {
  background-color: #000000;
  color: #999999;
  font-size: 0.85em;
  padding-top: 10px;
  text-align: center;
}

/* Tabs
-------------------------------------------------------------- */

/* styling for node tabs (e.g., View, Edit) */
#content-tabs {
  background-color: transparent;
  float: left;
  margin: 20px 0;
  padding: 0;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  border-bottom: 1px solid #000;
  clear: both;
  float: left;
  margin: 0;
  padding: 0 10px;
}

#content-tabs ul.secondary {
  border-bottom: 1px solid #555;
  margin-top: 10px;
  text-transform: lowercase;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
  border-style: none;
  display: inline;
  float: left;
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  background-color: transparent;
  border: none;
  color: inherit;
  float: left;
  font-size: 1.1em;
  line-height: 1.2em;
  font-weight: bold;
  margin: 0;
  padding: 0 0 6px 0;
  text-decoration: none;
  white-space: nowrap;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  color: #fff;
  font-size: 1em;
  line-height: 1.1em;
}

#content-tabs ul.primary li a.active:link,
#content-tabs ul.primary li a.active:visited {
  border-bottom: 4px solid #8C944D;
  color: #999;
  padding-bottom: 2px;
}

#content-tabs ul.secondary li a.active:link,
#content-tabs ul.secondary li a.active:visited {
  border-bottom: 4px solid #8C944D;
  color: #999;
  padding-bottom: 2px;
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.secondary li a:hover {
  border-bottom: 4px solid #8C944D;
  color: #999;
  padding-bottom: 2px;
}


/* Forms
-------------------------------------------------------------- */

form {
  margin: 0;
  padding: 0;
}

textarea,
select,
input.text,
input.form-text,
input.title {
  background: #1f1f1f;
  border: 1px solid #6D6D6D;
  color: #EEEEEE;
  margin: 0;
  padding: 2px;
}

textarea {
  line-height: 1.5em;
  height: auto;
}

label {
  font-weight: bold;
}

legend {
  font-weight: bold;
  font-size: 1.2em;
}

fieldset {
  background: #3E3E3E;
  border: 1px solid #555;
  margin: 1.5em 0;
  padding: 0 1.4em 1.4em 1.4em;
}

fieldset legend {
  display: block;
  font-size: 1em;
  background: #1B1B1B;
  border: 1px solid #555;
  padding: 0 0.4em;
}

fieldset dl,
fieldset select {
  margin: 0;
}

/* prevent uncessary scrollbars */
fieldset .collapsible {
  overflow: hidden;
}

/* buttons */
.form-submit,
.teaser-button {
  background-color: #4D4D4D;
  border: 1px solid #000;
  color: #FFFFFF;
  font-size: 1em;
  font-weight: normal;
  height: 25px;
  margin: 0;
  padding: 0 6px 2px;
}

.form-submit:hover,
.teaser-button:hover,
#sidbar-first .form-submit:hover,
#sidebar-last .form-submit:hover {
  background: #3D3D3D;
  cursor: pointer;
}

#sidebar-first .form-submit,
#sidebar-last .form-submit {
  color: #333;
}

.form-item .resizable-textarea .grippie {
  background-color: #4D4D4D;
  border: 1px solid #6D6D6D;
  border-top: none;
}

input.text:focus, input.title:focus,
textarea:focus, select:focus {
  border: 1px solid #666;
}

div.resizable-textarea textarea {
  margin-top: 0;
}

div.form-item div.description img {
  margin: 0;
}

 html.js input.form-autocomplete {
  background-position: 100% 3px;
  background-image: url('images/throbber.gif');
  max-width: 96%;
 }
 
html.js input.throbbing {
  background-position: 100% -17px;
}

#autocomplete {
  background: #292929;
}

#autocomplete li {
  background: #292929;
  color: #F0F0F0;
  border-color: #6D6D6D;
}

#autocomplete li.selected {
  background: #3E3E3E;
  color: #F0F0F0;
}

div.form-item {
  margin-bottom: 1.5em;
  margin-top: 1.5em;
}

html.js fieldset.collapsed {
  background: none;
  margin-bottom: 20px;
}

html.js fieldset.collapsible legend a {
  background: transparent url('images/menu-expanded.gif') no-repeat scroll 0% 50%;
  text-decoration: none;
}

html.js fieldset.collapsed legend a {
  background: transparent url('images/menu-collapsed.gif') no-repeat scroll 0% 50%;
}

html.js fieldset legend:hover {
  background-color: #555;
  border: 1px solid #000;
}

div.error,
tr.error,
span.marker {
  background: #FFCCCC;
  color: #8A1F11;
}

div.error a {
  color: blue;
  text-decoration: underline;
}

.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #DD7777;
  background: #FFCCCC;
  color: #8A1F11;
}

.form-item strong.error {
  display: block;
}

.form-item textarea.error {
  padding: 0.2em;
}

.form-item .description {
  font-size: 0.9em;
  line-height: 1.667em;
}

/* theme settings form field width limit */
form#system-theme-settings select,
form#system-theme-settings input.form-text {
  max-width: 95%;
}

/* keep theme select form visible */
#system-themes-form {
  position: relative;
  z-index: 1;
}

/* keep theme switcher visible */
.form-item select#edit-theme {
  max-width: none;
}

#user-login-form {
  text-align: left;
}

body.layout-first-main-last #content .form-text {
  max-width: 356px;
}

#sidebar-first select,
#sidebar-last select {
  max-width: 158px;
}

#field-picture-items {
  margin: 0 0 30px 0;
}


/**
 * Form graphic buttons
 */
span.button-wrapper {
  cursor: pointer;
}

span.button {
  background: transparent url('images/submit-button-right.png') no-repeat right top;
  display: -moz-inline-box;        /* for FF2 */
  display: inline-block;
  height: 33px;
  padding: 0 10px 0 0;
  position: relative;
}

span.button span {
  background: transparent url('images/submit-button.png') no-repeat left top;
  display: -moz-inline-box;        /* for FF2 */
  display: inline-block;
  height: 33px;
  margin-right: -2px;
  padding: 0 0 0 9px;
}

span.button span input {
  background-color: transparent;
  border: 0;
  color: #fff;
  cursor: pointer;        /* for Opera */
  font-size: 1.1em;
  height: 33px;
  margin: 0 !important;
  padding: 0;
  white-space: nowrap !important;
}

span.button-wrapper:hover span.button {
  background-position: right -33px;
}

span.button-wrapper:hover span.button span {
  background-position: left -33px;
}

span.button span input:hover {
  background-color: transparent;
}

/* sidebars buttons */
#sidebar-first span.button,
#sidebar-last span.button {
  background: transparent url('images/sidebar-button-right.png') no-repeat right top;
  height: 24px;
}

#sidebar-first span.button span,
#sidebar-last span.button span {
  background: transparent url('images/sidebar-button.png') no-repeat left top;
  height: 24px;
}

#sidebar-first span.button span input,
#sidebar-last span.button span input {
  height: 24px;
}

#sidebar-first span.button-wrapper:hover span.button,
#sidebar-last span.button-wrapper:hover span.button {
  background-position: right -24px;
}

#sidebar-first span.button-wrapper:hover span.button span,
#sidebar-last span.button-wrapper:hover span.button span {
  background-position: left -24px;
}

#sidebar-first span.button span input:hover,
#sidebar-last span.button span input:hover {
  background-color: transparent;
}


/* Tables
-------------------------------------------------------------- */

table {
  border-collapse: collapse;
  margin-bottom: 1em;
  width: 100%;
}

th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid #CCC;
}

tr {
  padding: 0.1em 0.6em;
}

td {
  padding: 3px 8px;
}

td.active {
  background: none;
}

th.active img {
  display: inline;
}

tr.even {
  background-color: #242424;
  border-bottom: 1px solid #000;
}

tr.odd {
  background-color: #303030;
  border-bottom: 1px solid #000;
}

tr.selected {
  color: #000
}

tbody {
}

tbody th {
  border-bottom: 1px solid #000;
}

thead th {
  text-align: left;
  padding-right: 1em;
  border-bottom: 3px solid #000;
}

table.sticky-header {
  background: #000;
}

tr.draggable.drag-previous {
  background-color: #525252;
}

/* Pagers
-------------------------------------------------------------- */

ul.pager {
  line-height: 1.667em;
  margin: 1.667em 0;
  font-size: 0.9em;
}

ul.pager a, ul.pager li.pager-current {
  border: 1px solid #000;
  text-decoration: none;
  margin-right: 3px;
  padding: 3px 6px;
}

ul.pager li.pager-current {
  background: #000;
  color: #DFB77C;
}

ul.pager a:link,
ul.pager a:visited {
  color:#DFB77C;
}

ul.pager a:hover,
ul.pager a:focus,
ul.pager a:active {
  background-color: #000;
  color: #DFB77C;
  border: 1px solid #000;
}

ul.pager span.pager-ellipsis {
  padding: 0 0.5em;
}

.item-list .pager li {
  margin: 0;
  padding: 0;
}


/* Admin page(s)
-------------------------------------------------------------- */

div.admin {
  padding-top: 0; /* fix alignment of admin panel */
}

/* keep admin columns from dropping under */
div.admin .left,
div.admin .right {
  margin-left: 1%;
  margin-right: 1%;
}

div.admin-panel {
  padding: 1.5em 0 0 0;
}

div.admin-panel .body {
  padding: 0;
}

div.admin-panel .description {
  margin: 0 0 1.5em 0;
  padding: 0;
}

#user-admin-filter ul li,
#node-admin-filter ul li {
  list-style: none; /* remove list style from content node filter */
}

div.admin-dependencies,
div.admin-required {
  color: #FFFFFF;
  font-size: 1em;
}


/* Maintenance
-------------------------------------------------------------- */

.in-maintenance #header-middle #logo {
  float: left;
  margin-right: 10px;
}

.in-maintenance #header-middle #logo {
  display: inline;
  margin: 0 14px 10px 0;
}

.in-maintenance #header-middle  h1 {
  color: #525252;
  display: inline;
  font-family: Myriad Pro, Myriad Web Pro Regular, Lucida Grande, Geneva, Trebuchet MS, sans-serif;
  font-size: 2.1em;
  font-weight: normal;
  letter-spacing: 3px;
  position: relative;
  text-transform: uppercase;
  top: 3px;
  white-space: nowrap;
}

.in-maintenance #header-middle  h1 a {
  color: #525252;
  text-decoration: none;
}


/**********************
 MODULE STYLES
**********************/



/* Book navigation
-------------------------------------------------------------- */

.book-navigation .menu {
  border-top: 1px solid #CCC;
  padding: 1em 0 0 3em;
}

.book-navigation .page-links {
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  text-align: center;
  padding: 0.5em;
}


/* Calendar
-------------------------------------------------------------- */

/* pop-up calendar styles */
div#calpopup {
  color: #444
}

div#calpopup a:link,
div#calpopup a:visited {
  color: #B38542;
}

div#calpopup a:hover,
div#calpopup a:active {
  color: #DFB77C;
}


/* Comments
-------------------------------------------------------------- */

div.comment {
  clear: both;
  margin: 16px 0;
  padding: 10px
}

h2.comments {
  border-bottom: 1px dotted #98846C;
  font-family: Arial Narrow, Helvetica, Arial, sans-serif;
  font-size: 1.4285em;
  font-weight: bold;
  padding-bottom: 10px;
  text-transform: uppercase;
}

div.comment h3.title {
  font-weight: normal;
  margin: 0 0 5px 0;
}

div.comment h3.title a {
  text-decoration: none;
}

div.comment .submitted {
  color: #E8DCC4;
}

div.comment .comment-name {
  font-weight: bold;
}

div.comment div.links a,
div.comment ul.links a {
  color: #E2B57C;
  text-decoration: underline;
}

div.comment div.links ul li {
  border-right: 1px solid #E2B57C;
  font-size: 0.8571em;
  padding: 0 10px;
}

div.comment div.links ul li.first {
  padding-left: 0;
}

div.comment div.links ul li.last {
  border: none;
  padding-right: 0;
}

#comments div.odd {
  background-color: inherit;
}

#comments div.even {
  background-color: #343434;
}

div.comment .picture {
  float: right;
}

.signature {
  border-top: 1px solid #D6DDB9;
  font-size: 0.916em;
  margin: 10px 0;
  padding: 0;
}


/* Forums
-------------------------------------------------------------- */

#forum .description {
  font-size: 0.9em;
  margin: 0.5em;
}

#forum td.created, 
#forum td.posts, 
#forum td.topics, 
#forum td.last-reply,
#forum td.replies, 
#forum td.pager {
  white-space: nowrap;
}

#forum td.posts, 
#forum td.topics, 
#forum td.replies, 
#forum td.pager {
  text-align: center;
}

.forum-topic-navigation {
  padding: 1em 0 0 3em;
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
  text-align: center;
  padding: 0.5em;
}

.forum-topic-navigation .topic-previous {
  text-align: right;
  float: left;
  width: 46%;
}

.forum-topic-navigation .topic-next {
  text-align: left;
  float: right;
  width: 46%;
}


/* Panels
-------------------------------------------------------------- */


#modal-content a {
  color: #2385C2;
}

#modal-content a {
  color: #2385C2;
}

#modal-content textarea {
  background: #fff;
  color: #000;
}

#panels-panel-context-edit-content h2 {
  margin: 10px 0;
}

#modal-content fieldset,
#modal-content legend,
#modal-content textarea,
#modal-content select,
#modal-content input.text,
#modal-content input.form-text,
#modal-content input.title {
  background: #fff;
  color: #292929;
}

#panels-dnd-main .panel-pane,
#panels-dnd-main .helperclass {
  color: #292929;
}

.ctools-owns-lock {
  color: #000;
}

/* Polls
-------------------------------------------------------------- */

div.poll div.bar {                                      /* styles for poll ratings */
  background-color: #DDD;
}

div.poll div.bar div.foreground {
  background-color: #999;
}


/* Profiles
-------------------------------------------------------------- */

.profile {
  clear: none;
  margin: 12px 0;
}

.profile h2.title {
  margin-top: 15px;
  border-bottom: 1px solid;
}

.profile h3 {
  border-bottom: 1px solid #444444;
}

.profile dd {
  margin: 15px 5px 0 205px;
}

.profile dt {
  float: left;
  margin-bottom: -10px;
  margin-right: 5px;
  padding: 0 5px;
  text-align: left;
  width: 185px;
}


/* Search results
-------------------------------------------------------------- */


/* Vertical Tabs
-------------------------------------------------------------- */

.vertical-tabs {
  background-color: #3E3E3E;
  border-color: #6D6D6D;
}

.vertical-tabs-list {
  border-color: #6D6D6D;
}

.vertical-tabs-list li {
  background-color: #1B1B1B;
  border-color: #6D6D6D;
}

.vertical-tabs-list li.selected {
  background-color: #3E3E3E;
}

.vertical-tabs-list li.selected strong {
  color: #F0F0F0;
}

.vertical-tabs ul.vertical-tabs-list .summary {
  color: #A3A3A3;
}

.vertical-tabs ul.vertical-tabs-list a:link,
.vertical-tabs ul.vertical-tabs-list a:visited {
  color: #555;
}

.vertical-tabs ul.vertical-tabs-list a:hover,
.vertical-tabs ul.vertical-tabs-list a:active {
  color: #212121;
}

/* Views
-------------------------------------------------------------- */

div.view-style-node{
}

div.view-style-teaser{
}

div.view-style-list{
}

div.view-style-table{
}

div.view div.views-admin-links li {
  background: transparent !important;
}

/* views form field width limit */
.views-edit-view input,
.views-edit-view textarea {
  max-width: 95%;
}

#views-ui-edit-view-form {
  margin: 20px 0;
}


/* make text legible in views admin */
div.views-admin-links a,
div.views-admin-links-hover a,
div.view div.views-admin-links:hover a{
  color: #fff;
}

.views-edit-view a,
.views-entry a {
  color: #1767B1;
}

#views-ajax-form,
#views-ajax-pad .form-item,
#views-ajax-pad .views-expose .description,
#views-ajax-pad .views-override .description,
.changed,
.defaulted,
.views-category,
.views-category-content,
.views-entry,
.tab-section,
.views-tab {
  color: #000 !important;
}

#views-ajax-pad table.sticky-enabled tr td {
  color: #fff;
}


/* Web Accessibility 
-------------------------------------------------------------- */

/*skip-link*/

#skip a,
#skip a:hover,
#skip a:visited {
  height: 1px;
  left: 0px;
  overflow: hidden;
  position: absolute;
  top: -500px;
  width: 1px;
}

#skip a:active, 
#skip a:focus {
  height: auto;
  position: static;
  width: auto;
} 


/* Print styles
-------------------------------------------------------------- */

@media print {
  body {
    background: white;
    font-size: 10pt;
  }
   
  #header,
  #header-top,
  #header-wrapper,
  #header-bottom,
  #sidebar-first,
  #sidebar-last,
  #preface-wrapper,
  #content-tabs,
  #mission,
  #slogan,
  #postscript-wrapper,
  #footer-top,
  #footer,
  #primary-menu,
  #search-box,
  #logo {
    display: none;
  }

  #page,
  #main-wrapper,
  #content-wrapper,
  #content-top,
  #content,
  #content-bottom {
    background: transparent none;
    border: 0;
    color: black;
    float: none !important;
    margin: 0;
    padding: 0;
    width: auto;
  }
  
  #content-wrapper {
    margin: 0 3%;
  }
}