/* $Id: shell.css,v 1.3 2010/04/18 15:37:00 richardp Exp $  */

#shell-popup-link {
  text-align: right;
  padding-bottom: 5px;
}

#shell-screen-screen {
  width: 100%;
  border: 1px solid blue;
  background-color: black;
  color: forestgreen;
  font-size: 0.95em;
}

#shell-screen-history {
  height: 400px;
  overflow-y: auto;
  font-family: Courier New, fixed-width;  
  padding: 10px;
}

#shell-popup-page #shell-screen-screen {
  width: 98%;
  margin: 5px;
}

#shell-popup-page #shell-screen-history {
  height: 400px;
}

#center form#shell-input-form {
  margin-bottom: 0px;
  background-color: darkblue;
}

#shell-input-field {
  border: 1px solid yellow;
  background-color: transparent;
  color: yellow;
  width: 80%;
  font-weight: bold;
}

#shell-input-field-wrapper {
  margin: 0;
  margin-top: 5px;
}

#shell-send {
  float: right;
  margin: 0;
  margin-right: 5px;
  position: relative;
  top: 2px;
}

.user-command {
  color: yellow;
}

pre.shell {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

.shell-not-supported {
  font-style: italic;
}

.shell-directory-listing {
  margin-top: 10px;
}

.shell-view-file
{
  background-color: beige;
  border: 1px solid gray;
  padding: 5px;  
}

.shell-list-from-tab
{
  padding-left: 20px;
  padding-bottom: 20px;
}

.shell-list-from-tab span.shell-filename {
  padding-right: 30px;
}
